.login{

}

/*.maintopic{
	text-align:center;
}*/

/*.fh5co-testimonial text-center animate-box p{
	text-align:right;
}*/

.title{
	text-align:center;
}

.sentense-box{
	border:solid 1px;

}

.star{
	text-align:right;
}

#map{
	float:right;
}

/*.table{
	float:left;
}*/
/*.table-map{
	float:left;
}*/
.evaluation{
	text-align:center;
}

